@use "sass:math";
@import "@/scss/variables.scss";

.range {
    border-radius: 50%;
    display: table;
    height: $range__size;
    position: relative;
    width: $range__size;

    input {
        opacity: 0;
        position: absolute;
    }

    .dial {
        $marginLeft: -1 * math.div($dial__size, 2);
        $translateX: math.div($range__size, 2);
        $translateY: math.div($range__width, 2);
        background-color: $text__color;
        border-radius: 50%;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        height: $dial__size;
        margin-left: $marginLeft;
        position: absolute;
        top: $marginLeft;
        transform: translateX(#{$translateX}) translateY(#{$translateY});
        width: $dial__size;
        z-index: 40;
        &:focus {
            outline: 0;
        }
    }
    .info {
        background-color: #fff;
        border-radius: 50%;
        bottom: $range__width;
        left: $range__width;
        position: absolute;
        right: $range__width;
        top: $range__width;
        z-index: 30;
    }
    .text {
        cursor: default;
        user-select: none;
        text-transform: uppercase;
        color: $text__color;
        font: 400 16px/1.1 "Roboto", sans-serif;
        position: absolute;
        display: table-cell;
        text-align: center;
        bottom: -40px;
        left: 0;
        right: 0;
    }
}

.slice {
    border-radius: $range__size 0 0 $range__size;
    background-color: $main__color;
    height: 100%;
    overflow: hidden;
    position: absolute;
    user-select: none;
    width: 50%;
    z-index: 10;
    &.right {
        border-radius: 0 $range__size $range__size 0;
        right: 0;
        .blocker {
            left: 0;
            right: auto;
            transform-origin: 0 25%;
        }
    }
    .blocker {
        background-color: #aaa;
        height: 200%;
        position: absolute;
        right: 0;
        transform-origin: 100% 25%;
        width: 200%;
    }
}
